* {
  text-decoration: none;
}
.menu {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  li {
    display: inline-block;
    padding: 10px;
  }
  position: fixed;
}

.Acontenedor {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: pink;
}

.Hcontenedor {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: yellow;
}

.Pcontenedor {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(82, 214, 203);
}
.nav-link--active {
  font-weight: bold;
  text-decoration: underline;
}
